<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060220531423-17bk9hqq93hmfhoee4cno2rp9cld2jdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060220531423-17bk9hqq93hmfhoee4cno2rp9cld2jdm</string>
	<key>API_KEY</key>
	<string>AIzaSyC8nB9FH70sEsg7CDoe3i6V4PW8-fs4PNg</string>
	<key>GCM_SENDER_ID</key>
	<string>1060220531423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DomoweHarce</string>
	<key>PROJECT_ID</key>
	<string>hackyeah-online</string>
	<key>STORAGE_BUCKET</key>
	<string>hackyeah-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060220531423:ios:490a37d290bdecd88def6a</string>
	<key>DATABASE_URL</key>
	<string>https://hackyeah-online.firebaseio.com</string>
</dict>
</plist>